{% extends "layout.html" %}

{% block title %}ReadIt - Search{% endblock %}

{% block content %}

    <h1>Expand Your Library</h1>

    <p>Getting started is simple. Just type in a book that you enjoyed and which genre you are looking for. You only
        need to fill in one of the options to let our algorithm work its magic, but filling out both goes a long way 
        in helping us help you! After that, just sit back and await the results. No matter where your interests lie, 
        we're sure to find the right read for you!</p>
    
    <form action="/results" method="POST" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="desc">Title</label>
            <input type="text" id="title" name="title" placeholder="Enter the title here...">
        </div>

        <div class="form-group">
            <label for="desc">Genre</label>
            <input type="text" id="genre" name="genre" placeholder="Enter the genre here...">
        </div>

        <div class="button-wrapper">
            <button type="submit">Start Your Search</button>
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}